<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FriendFinder</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/css?family=Abel|Encode+Sans+Condensed|Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../survey.js"></script>

</head>

<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class=" brand-logo fontNunito" style="color: #3949ab">Friend Finder</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/">
                            <i class="material-icons left">home</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<main>
    <div class="mt40 container">
        <div class="collection">
            {{{ body }}}
        </div>
        <button class="btn waves-effect waves-light right mb30" id="submit" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </div>


     <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Your Best Match</h4>
      <div class="flow-text" id="matchname">

      </div>
      <div id="">
          <img id="pic" class="img-responsive" src=""></img>
      </div>
    </div>
    <div class="modal-footer">
      <a href="/" class="modal-close waves-effect waves-green btn-flat">Start Again</a>
    </div>
  </div>
</main>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <a href="/api/">friendsAPI</a> |

            <a href="https://github.com/tbizz22/friendfinder">Github Repo</a>
            |
            <a href="../images/friends.png" target="_blank">Friends!</a>
        </div>
    </div>
</footer>




<body>

</body>

</html>