<main>
    
        <div class="row">

            <div class="center-align card mt0 p20 grey lighten-2">
                <span class="">
                    <i class="fas fa-user-friends fa-8x indigo-text darken-1"></i>
                </span>
                <h2 class="fontNunito">Friend Finder</h2>
                <div class="section"></div>
                <a class="waves-effect btn-large indigo darken-1" href="/survey"><i class="material-icons left">assignment</i>Take the Survey</a>
            </div>
        </div>
    
</main>